# Bharathi Thervukalam - Backend Environment Variables

# MySQL Database Configuration
MYSQL_HOST=65.108.76.42
MYSQL_PORT=3306
MYSQL_USER=techsasi_2207
MYSQL_PASSWORD=SasiKutty2207@Lovely
MYSQL_DATABASE=techsasi_bharathi

# Application Configuration
HOST=0.0.0.0
PORT=5000
DEBUG=True

# Security Keys
SECRET_KEY=bharathi-academy-enterprise-secure-key-2026
JWT_SECRET_KEY=bharathi-jwt-super-secret-token-key-2026

REACT_APP_API_URL=http://127.0.0.1:8000/
